* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}

ul {
    list-style: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

ol,
ul {
    padding: 0 !important;
    margin: 0 !important;
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-size: 1.6rem;
}

.near {

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow: hidden;
    }
}

.video {

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow: hidden;
    }
}

.products {

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow: hidden;
    }
}



a:hover,
a:active,
a,
a:focus {
    cursor: pointer;
}

button {
    cursor: pointer;
}

*__button {
    cursor: pointer;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}

@import './base/vars.scss';
@import './components/nav.scss';
@import './components/header.scss';
@import './layout/animation.scss';
@import './components/about.scss';
@import './components/ad.scss';
@import './components/install.scss';
@import './components/bens.scss';
@import './components/reason.scss';
@import './components/near.scss';
@import './components/video.scss';
@import './components/prods.scss';
@import './components/art.scss';
@import './components/rate.scss';
@import './components/port.scss';
@import './components/loc.scss';
@import './base/mixin.scss';



.rate {
    margin-top: 7rem;
    padding: 6rem 0 2rem 0;
}


// Media Query Responsive

@include respond(desktop) {
    .nav__list {
        column-gap: 5rem;
    }

    .header::after {
        width: 35rem;
    }

    .header__right {
        animation: unset;

        &-img {
            width: 65rem;
        }
    }

    .header {
        padding: 5rem 8rem 0 8rem;

        & .swiper {
            overflow: visible !important;
        }
    }

    .about__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .ad__cube:nth-of-type(1) {
        left: 0;
    }

    .ad__cube:nth-of-type(2) {
        bottom: 0;
        top: unset;
        left: 30rem;
    }

    .install__cards {
        justify-content: center;
    }

    .install__card {
        margin: 1rem;
    }

    .bens__cube:nth-of-type(1) {
        top: 5rem;
    }

    .video__cube:nth-of-type(2) {
        right: -5rem;
    }

    .ad__cube:nth-of-type(3) {
        top: 0;
        right: 5rem;
    }

    .ad__cube:nth-of-type(4) {
        width: 100% /2;
    }

    .ad__txt {
        color: white !important;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.6rem;
        width: 42rem;
        margin-top: 0.5rem;
    }

    .ad__title {
        font-size: 2rem;
    }

    .about__card {
        margin: 1rem;
    }

    .header__cube:nth-of-type(2) {
        top: 15rem;
        right: 15rem;
        width: 10rem;
        right: 0;
    }

    .header__cube:nth-of-type(4) {
        right: 5rem;
        width: 20rem;
    }

    .header__title {
        font-size: 4.8rem;
        font-weight: 700;
        max-width: 40rem;
        width: 100%;
        line-height: 5.3rem;
        animation: button_in 500ms ease-in;
    }

    .reason {
        & .swiper-button-next {
            left: 95%;
        }

        & .swiper-button-prev {
            right: 95% !important;
        }
    }

    .near__camera-intro {
        transform: translateY(0.5rem);
    }

    .near__part {
        max-width: 50rem;
        padding: 5rem 0 0 0;
    }

    .near__part-title {
        margin-bottom: 2rem;
    }

    .near__button {
        margin-top: 4rem;
    }

    .product__button::after {
        display: none;
    }

    .product__button {
        outline: none;
    }

    .products__card {
        padding-bottom: 1rem;
    }

    .port__cards {
        justify-content: center;
        flex-wrap: wrap;
    }

    .port__card {
        transition: 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }

    .consult__cube:nth-of-type(3) {
        top: 0;
    }

    .footer__list:not(:first-of-type) a {
        margin-bottom: 1rem !important;
    }

    .footer .container:nth-of-type(2) {
        max-width: 112rem;
    }

    .consult__txt {
        max-width: 50rem;
    }

    .consult__title {
        font-size: 1.8rem;
    }

    .consult__text {
        font-size: 1.6rem;
    }

    .exp .container:nth-of-type(1) {
        padding: 0 7rem;
    }

    .consult .container {
        column-gap: 0;
        justify-content: center;
    }

    .footer .container:nth-of-type(1) {
        justify-content: space-evenly;
    }

    .exp .accordion-wrapper-cube:nth-of-type(2) {
        top: 23rem;
    }

    .consult__person {
        transform: translateY(-5.5rem) translateX(-12rem);
    }

    .port__card {
        margin: 1rem;
    }

    .header .swiper-slide {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

}

@include respond(laptop) {
    .header__right-img {
        display: none;
    }

    .nav {
        backdrop-filter: blur(20px);
    }

    .header__left {
        text-align: center;
    }

    .header .swiper {
        backdrop-filter: blur(20px);
    }

    .navbar-brand img {
        width: 200px;
    }

    .nav__list {
        column-gap: 1rem;
    }

    .contact__num {
        font-size: 1.8rem;
    }

    .about__cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about__card {
        max-width: 46%;
        position: relative;
        width: 50%;
        height: 30rem !important;
        margin: 1rem;

        &-title {
            width: 25rem;
        }
    }

    .ad__cube:not(:first-of-type) {
        display: none;
    }

    .ad__cube:nth-of-type(1) {
        left: 0;
    }

    .ad__background {
        display: flex;
        flex-direction: column;
    }

    .ad {
        padding-bottom: 2rem;

        & img,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            position: relative;
            z-index: 2;
        }

        &__area {
            text-align: center;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: -1rem;
                background-color: white;
                width: 100%;
                height: 1rem;
                filter: blur(50px);
                z-index: 1;
            }
        }
    }

    .install__cards {
        justify-content: center;
    }

    .bens__card-text {
        margin: 2rem auto;
    }

    .install__card {
        margin: 1rem;
    }

    .bens__cube:nth-of-type(1) {
        top: 0;
    }

    .bens__title {
        animation: unset;
    }

    .reason__title-title {
        white-space: unset;
    }

    .bens__cards {
        justify-content: center;
        flex-wrap: wrap;
    }

    .reason__title {
        animation: unset;
        white-space: unset;
    }

    .install__title {
        animation: unset;
        width: 100%;
        white-space: unset;
    }

    .install__title-title {
        width: 100%;
        white-space: unset;
        max-width: 680px;
        margin: 0 auto;
    }

    .bens__cube:nth-of-type(1) {
        top: 80%;
        left: -5%;
        filter: blur(7px);
    }

    .reason__content {
        display: flex;
        align-items: flex-start;
        padding: 2rem;
        flex-direction: column;
        margin: 0 auto;
    }

    .reason__right {
        column-gap: 0;
    }

    .bens__card {
        width: 50%;
        text-align: center;
        max-width: unset;
    }

    .row>* {
        width: 50%;
    }

    .reason .swiper-button-next {
        right: 2rem;
        left: unset;
    }

    .reason .swiper-button-prev {
        left: 2rem;
    }

    .near {
        height: 100%;
        max-height: unset;
    }

    .near__flex {
        flex-direction: column;
        justify-content: center;
    }

    .near__parts {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -4rem;
        flex-direction: column;
        row-gap: 5rem;
    }

    .near__part-title {
        margin-top: 2rem;
    }

    .near__button {
        margin-bottom: 3rem;
    }

    .products__cube {
        display: none;
    }

    .products__cards {
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .product__title {
        animation: unset;
    }

    .article__title {
        animation: unset;
    }

    .article__cards {
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .rate .swiper-button-next2 {
        right: 5%;
    }

    .rate .swiper-button-prev2 {
        left: 5%;
    }

    .rate .swiper-wrapper {
        display: flex;
        justify-content: center;
    }

    .rate .swiper-slide-next {
        opacity: 1 !important;
    }

    .port__cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .port__card {
        margin: 1rem;
    }

    .rate .swiper-slide {
        opacity: 0.5;
    }

    .consult {
        padding-left: 0;
        max-height: unset;

        &__start {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .consult__cube:nth-of-type(4) {
        right: 0;
        top: 0px;
        filter: blur(5px);
        width: 15rem;
        height: 15rem;
    }

    .consult__txt {
        margin-left: 0;
    }

    .consult .container {
        column-gap: 0;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .consult__text {
        text-align: center;
        margin-bottom: 2rem;
    }

    .loc-title {
        width: 100%;
        max-width: 850px;
        margin: 0 auto;
        white-space: unset;
    }

    .footer__list-main {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 2rem;
    }

    .footer__location {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        width: calc(100% / 1.4);
    }

    .footer .container:nth-of-type(1) {
        flex-direction: column;
        row-gap: 2rem;
    }

    .exp .accordion-wrapper-cube:nth-of-type(3) {
        right: 0;
    }

    .exp .accordion-wrapper-cube:nth-of-type(2) {
        left: 0;
        top: unset;
        bottom: 0;
    }

    .exp .accordion-wrapper::before {
        display: none;
    }

    .reason .swiper-button-next {
        transform: scale(0.8) translateY(50%);
    }

    .reason .swiper-button-prev {
        transform: scale(0.8) translateY(50%);
    }

    .consult__cube:nth-of-type(2) {
        left: 0;
        top: unset;
        bottom: 0;
    }

    .consult__cube:nth-of-type(3) {
        display: none;
    }

    .nav-item:not(:last-of-type) {
        display: none;
    }

    .footer .container {
        padding: 0 5rem !important;
    }

    .footer .container:nth-of-type(2) {
        & .footer__loc {
            margin: 2rem 0;
        }
    }

    .footer .container:nth-of-type(3) {
        margin-top: 2rem;
    }
}

@include respond(tab) {
    .header__right-img {
        display: none;
    }

    .ad {
        margin-top: 10rem;
    }

    .nav {
        backdrop-filter: blur(20px);
    }

    .header__left {
        text-align: center;
    }

    .header .swiper {
        backdrop-filter: blur(20px);
    }

    .navbar-brand img {
        width: 200px;
    }

    .nav__list {
        column-gap: 1rem;
    }

    .contact__num {
        font-size: 1.8rem;
    }

    .about__cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .install__cards .install__card {
        width: 90%;
        max-width: 100%;
        height: 25rem;
        margin: 2rem auto;
    }

    .install__cards .install__card-title {
        font-size: 2.4rem;
        max-width: 35rem;
    }

    .install__title-title {
        white-space: unset;
        width: 100%;
        animation: unset;
        font-size: 2.8rem;
    }

    .bens__title {
        white-space: unset;
        animation: unset;
    }

    .bens__cards {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .reason__title {
        animation: unset;
        white-space: unset;
        margin: 7.2 auto 4rem auto;
    }

    .reason__title-title {
        width: 90%;
        margin: 0 auto;
        white-space: unset;
        animation: unset;
    }

    .reason__image {
        width: 100%;
        max-width: unset;
        margin-bottom: 2rem;
    }

    .header {
        & .swiper-button-next {
            top: unset;
            bottom: 2rem;
        }

        & .swiper-button-prev {
            bottom: 2rem;
            top: unset;
            left: unset;
            right: 8rem;
        }
    }

    .bens__card {
        margin-top: 2rem;
    }

    .header__title {
        color: white;
        text-shadow: 0 4px 4px black;
    }

    .left,
    .right {
        display: none;
    }

    .video__cube {
        display: none;
    }

    .products__card {
        width: 80%;
        max-width: unset;
    }

    .products__card:not(:nth-of-type(4)) {
        margin-bottom: 2rem;
    }

    .product__photo-img {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
    }

    .product__photo {
        box-shadow: unset;
    }

    .article__title {
        white-space: unset;
        animation: unset;

        &-title {
            white-space: unset;
            animation: unset;
            width: 90%;
            margin: 0 auto;
        }
    }


    .product__title {
        white-space: unset;
        animation: unset;

        &-title {
            animation: unset;
            white-space: unset;
        }
    }

    .rate .swiper-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rate .swiper-slide {
        opacity: 1 !important;
        width: 100%;
    }

    .reason {
        & .swiper-button-next {
            display: none;
        }

        & .swiper-button-prev {
            display: none;
        }
    }

    .near__flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .near {
        max-height: unset;
        height: 100%;
    }

    .near__parts {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -4rem;
        flex-direction: column;
    }

    .swiper-button-next2 {
        display: none !important;
    }

    .swiper-pagination2 {
        display: none !important;
    }

    .rate {
        margin-bottom: 10rem;
    }

    .port__cards {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .port__card {
        width: 90%;
        margin: 2rem 0;
        max-width: unset;
    }

    .port__card-title {
        font-size: 22px;
    }

    .port__card-about {
        font-size: 18px;
    }

    .consult__cube {
        display: none;
    }

    .consult__person {
        display: none;
    }

    .consult .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
        padding: 2rem 1.5rem;
    }

    .loc-title {
        white-space: unset;
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .loc__title {
        white-space: unset;
    }

    .consult {
        margin: 0;
        max-height: unset;
        padding-left: 0;
    }

    .consult__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 151.01%;
        max-width: 50rem;
        width: 100%;
        text-align: center;
        margin: 1rem auto 2rem auto;
    }

    .consult__title {
        width: 90%;
        margin: 0 auto;
        max-width: 500px;
        text-align: center;
    }

    .consult__txt {
        margin-left: 0;
    }

    .rate .swiper-slide {
        margin: 2rem 0 !important;
        width: 90% !important;
    }

    .rate .swiper-wrapper {
        transform: unset !important;
    }

    .swiper-button-prev2 {
        display: none !important;
    }

    .near__button {
        margin: 2rem auto 5rem auto;
    }

    .article__cards {
        flex-wrap: wrap;
        width: 100%;
    }

    .article__cards .article__card {
        width: 80%;
        max-width: unset;
    }

    .products__cards {
        flex-wrap: wrap;
    }

    .video__content-img {
        max-width: unset;
        width: 100%;
    }

    .swiper-pagination-bullet {
        background: white;
        opacity: 1 !important;

        &-active {
            background: $color-title;
        }
    }

    .video__cube:nth-of-type(2) {
        display: none;
    }

    .about__title {
        white-space: unset;
        animation: unset;
        width: 90%;
        margin: 7.2rem auto 1.8rem auto;

        &-title {
            white-space: unset;
            animation: unset;
        }
    }

    .bens__cards {
        max-width: 100%;
        width: 90%;
        column-gap: 2rem;
        margin: 0 auto;
    }

    .accordion-wrapper-cube {
        display: none;
    }

    .exp .accordion-wrapper::before {
        display: none;
    }

    .ad__cube:nth-of-type(1) {
        display: none;
    }

    .products__cube {
        display: none;
    }

    .footer .container:nth-of-type(1) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .news p {
        margin-bottom: 0 !important;
    }

    .footer__list:not(:first-of-type) {
        margin-top: 2rem;
    }

    .footer__list-list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .footer .container:nth-of-type(3) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 2.7rem 2rem 2.5rem 2rem;
        flex-direction: column;
    }

    .news__input .news__txt {
        font-size: 0;
        position: relative;
    }

    .news__input .news__txt::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 30px;
        background: url("https://cdn.onlinewebfonts.com/svg/download_77513.png") no-repeat center center/contain;
        // transform: rotate(45deg);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .news .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .news__input .news__txt {
        height: 40px;
    }

    .news__title {
        margin-bottom: 2rem;
    }

    .news {

        & .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0 !important;
        }
    }

    .news__input .news__txt {
        position: absolute;
        background: white;
        color: #CF3535;
        font-weight: 600;
        font-size: 0;
        line-height: 21px;
        right: 0;
        top: 0;
        padding: 1rem 0;
        max-width: unset;
        width: 75px;
        border-radius: 10px;
        height: 50px;
    }

    .bens .bens__card {
        width: 45%;
        max-width: 100%;
    }

    .bens__cube:nth-of-type(3) {
        left: -10rem;
    }

    .bens__cube:nth-of-type(1) {
        display: none;
    }

    .install__title {
        animation: unset;
    }

    .ad__txt {
        width: 90%;
        margin: 0 auto 2rem auto;
    }

    .about__card {
        max-width: 46%;
        position: relative;
        width: 50%;
        height: 30rem !important;
        margin: 1rem;

        &-title {
            width: 25rem;
        }
    }

    .ad__cube:not(:first-of-type) {
        display: none;
    }

    .ad__cube:nth-of-type(1) {
        left: 0;
    }

    .ad__background {
        display: flex;
        flex-direction: column;
    }

    .ad {
        padding-bottom: 2rem;

        & img,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            position: relative;
            z-index: 2;
        }

        &__area {
            text-align: center;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: -1rem;
                background-color: white;
                width: 100%;
                height: 1rem;
                filter: blur(50px);
                z-index: 1;
            }
        }
    }

    .nav-item:not(:last-of-type) {
        display: none;
    }

    .navbar-brand img {
        width: 15rem;
    }

    .about__card {
        width: 90%;
        max-width: 100%;
        margin-top: 1rem;
    }

    .about__cards {
        margin-top: 1rem;
    }
}

@include respond(phone) {
    .contact__num {
        font-size: 16px;
    }

    .header__right-img {
        display: none;
    }

    .swiper-button-next {
        display: none !important;
    }

    .swiper-button-prev {
        display: none !important;
    }

    .header__cube {
        display: none;
    }

    .nav__list {
        display: none;
    }

    .navbar-brand img {
        margin: 2rem 0;
    }

    .header::before,
    .header::after {
        display: none;
    }

    .header__left {
        text-align: center;
    }

    .header {
        height: 60rem;
    }

    .header__txt {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .header__title {

        font-size: 2.8rem;
        font-weight: 700;
        max-width: 100%;
        width: 100%;
        line-height: 3.8rem;
        animation: button_in 500ms ease-in;
        text-align: center;

    }

    .about-txt {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .about__card {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        width: 100%;
        max-width: 45rem;
        padding: 2rem;
        position: relative;
        max-height: unset;
        height: 100%;
        flex-direction: column;
    }

    .ad__cube {
        display: none;
    }

    .about__card-img {
        display: none;
    }

    .about__card-txt {
        width: 25rem;
    }

    .about__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.8rem;
        flex-direction: column;
        row-gap: 2rem;
    }

    .bens__cube {
        display: none;
    }

    .about__title {
        white-space: unset;
        animation: unset;

        &-title {
            white-space: unset;
            animation: unset;
            font-size: 2.2rem;
            line-height: 3.8rem;

            & span::after {
                display: none;
            }

            & span::before {
                display: none;
            }
        }
    }

    .bens__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        flex-direction: column;
    }

    .ad__background {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .install__cards .install__card {
        margin-top: 3rem;
    }

    .reason__right {
        display: flex;
        align-items: flex-start;
        column-gap: 2rem;
        flex-direction: column;
    }

    .reason__icon-cam {
        display: none;
    }

    .ad__area {
        max-width: 25rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .ad__title {
        font-size: 2.2rem;
    }

    .ad__txt {
        width: 100%;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
    }

    .header__btn {
        margin-bottom: 2rem;
    }

    .bens__title {
        white-space: unset;
        animation: unset;

        &-title {
            white-space: unset;
            animation: unset;
            font-size: 2.2rem;
            line-height: 3.8rem;

            & span::after {
                display: none;
            }

            & span::before {
                display: none;
            }
        }
    }
    .install__title {
        white-space: unset;
        animation: unset;

        &-title {
            white-space: unset;
            animation: unset;
            font-size: 2.2rem;
            line-height: 3.8rem;

            & span::after {
                display: none;
            }

            & span::before {
                display: none;
            }
        }
    }
}