.ad {
    width: 100%;
    background: #333333;
    margin-top: 10rem;
    position: relative;

    &__txt {
        color: white !important;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.8rem;
        width: 62rem;
        margin-top: 1.5rem;
    }

    &__background {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 5rem;
    }

    & .person__serving {
        width: 34rem;
        position: relative;
        height: 29rem;
        transform: scale(1.2) translateY(-2.3rem);
        margin-top: -2rem;
    }

    &__title {
        font-size: 2.4rem;
        line-height: 3rem;
        color: $color-white;
        font-weight: 700;
    }

    &__cube {
        position: absolute;
        animation: cube 5s linear infinite;
        &:nth-of-type(1) {
            top: -5rem;
            left: 5rem;
            animation-delay: 100ms;
        }
        &:nth-of-type(2) {
            top: 16rem;
            left: 60rem;
            width: 70px;
            height: 70px;
            animation-delay: 300ms;
        }
        &:nth-of-type(3) {
            top: 15rem;
            right: 10rem;
            width: 120px;
            height: 120px;
            animation-delay: 500ms;
        }
        &:nth-of-type(4) {
            top: 18rem;
            right: 12rem;
            animation-delay: 250ms;
            width: 250px;
            height: 250px;
            filter: blur(5px);
        }
    }
}