.nav {
    width: 100%;
    position: fixed;
    z-index: 999;
    &__div {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 6.5rem;
    }

    & .icon {
        padding: 30% 35% !important;
    }


    &__link {
        font-size: 1.6rem !important;
        color: $color-black !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-title {
            color: $color-disabled;
            font-size: $size-disabled;
        }

        &-text {
            color: $color-text;
            font-size: $size-normal;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        column-gap: .7rem;
    }

    &__icon {
        background: white !important;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        position: relative;

        & .icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    & .icon {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30% 0;
    }
}

.contact {
    &-num {
        text-align: end;
    }

    &__num {
        background: $color-button;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: 700;
        font-size: $size-contact;
    }

    &__order {
        text-decoration: underline;
        color: $color-text;
        font-size: $size-disabled;
    }
}