$color-black: #000;
$color-white: #fff;

$color-button: linear-gradient(90.11deg, #FB4747 0.52%, #CC3333 98.44%);

$color-text: #4F4F4F;

$color-pagination-active: #DA3939;
$color-pagination-inactive: #D1D1D1;


$color-title: #DA3939;
$color-after-before: #DA3939;
$color-divider: #333333;


$color-disabled: #828282;

$size-disabled: 12px;
$size-normal: 16px;
$size-contact: 20px;
$color-price: #CF3535;